name: Linux

on:
  push:
    branches:
      - "**"
  pull_request:
    branches: [master]

# To cancel a currently running workflow from the same PR, branch, or tag
# when a new workflow is triggered.
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  linux:
    name: Linux
    runs-on: ubuntu-latest
    steps:
      - name: Clone project
        uses: actions/checkout@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install dependencies
        run: |
          sudo apt-get install gcc libncursesw5-dev libx11-dev

      - name: Build with release flags
        run: |
          cd src
          make -f Makefile.std -j$(nproc) OPT="-O2" EXTRA_CFLAGS="-Werror"
          mv sil ../sil

      - name: Verify build
        run: |
          ls -la sil
          file sil
          bin/smoke-tests.sh

      - name: Verify tutorial savefile
        run: bin/verify-tutorial.sh

      - name: Remove outdated PDF manuals
        run: |
          rm lib/docs/*.pdf

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: Sil-Q-linux-x86_64
          # IMPORTANT: Do NOT use quotes to escape spaces in filenames.
          path: |
            sil
            silg
            silx
            lib
            LICENSE.md
            README.md
            Sil-Q v1.5.0.pdf
          # Otherwise directories such as `lib/apex/` are excluded, which only
          # contain a stub `.keepalive` or `.gitignore` file.  Without these
          # pre-generated directories, the game will have problems at run-time.
          #
          # TODO: Update game logic to auto-create directories like `lib/apex`
          #       if needed, then remove this workaround.
          include-hidden-files: true
          if-no-files-found: error

